:root {
  --slide-width: 80vw;
  --header-height: 8vw;
}

body {
  background-color: #191a21;
  color: white;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;

  height: var(--header-height);
  flex-direction: row;
}

.header-item {
  background-color: #07080b;
  width: 200px;
}

.header-item:nth-child(2) {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

#header-navigation {
  background-color: #07080b;
  height: 50%;
}

#header-triangle {
  width: 0px;
  height: 0px;
  border-top: calc(var(--header-height) / 2) solid #07080b;
  border-right: calc(var(--header-height) / 0.7) solid transparent;
}

.search-bar-navigation:nth-child(2) {
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

#search-box {
  margin: 5px;
  padding: 10px;
  position: absolute;
  width: 38%;
  right: 70px;
  height: 25px;
  left: 59%;
  background-color: #2f3640;
  /* border-radius: 40px; */
}

.search-text {
  position: absolute;
  top: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  width: 90%;
  height: 25px;
}

.search-icon {
  left: 90%;
  position: absolute;
  height: 25px;
  width: 25px;
}

.categories-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 50px;
  background-color: #07080b;
}

.categories-container-items {
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.category-buttons {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(148, 145, 145);
  background-color: #07080b;
  border: none;
}

.category-buttons:hover {
  color: white;
}

.star-wars-logo {
  object-fit: cover;
  fill: #07080b;

  height: 16.5vh;
  width: 15vw;
}
.star-wars-slide-image {
  width: 80vw;
  min-width: 80vw;
  height: 67vh;
  /* object-fit: cover; */
  background-size: 80vw 67vh;
  background-repeat: no-repeat;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  transition: 750ms;
}

#slide-view {
  position: relative;
  height: 67vh;
  width: 80vw;
  overflow-x: hidden;
  margin-top: 50px;
  margin-left: 50%;
  margin-bottom: 50px;
  transform: translateX(calc(var(--slide-width) / -2));
}

.bad-batch {
  margin-left: 40px;
  margin-top: 20px;
}
.video-underline {
  position: relative;
  width: 30px;
  height: 1px;
  background-color: rgb(202, 18, 18);
  margin: auto;
  filter: blur(0.7px);
}
.films-underline {
  position: relative;
  width: 30px;
  height: 1px;
  background-color: rgb(202, 18, 18);
  margin: auto;
  filter: blur(0.7px);
}
.interactive-underline {
  position: relative;
  width: 30px;
  height: 1px;
  background-color: rgb(202, 18, 18);
  margin: auto;
  filter: blur(0.7px);
}
.series-underline {
  position: relative;
  width: 30px;
  height: 1px;
  background-color: rgb(202, 18, 18);
  margin: auto;
  filter: blur(0.7px);
}

.databank-underline {
  position: relative;
  width: 30px;
  height: 1px;
  background-color: rgb(202, 18, 18);
  margin: auto;
  filter: blur(0.7px);
}
